/* Buttons */
.btn {
  display: block;
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em);
  color: getColor('inv-color');
  align-items: center;

  background-color: getColor('accent-color');
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__filtering {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
    
  font-family: inherit;
  @include font(500, 16px, 1.62, 0.03em);
  
  cursor: pointer;
}