/* Section Features */
.feature__title {
  @extend %hidden;
}

.feature__list {
  @include betweenBreak (tab, desk) {
   @include centering_content();
   flex-wrap: wrap;

   @include thumb_flexBasis;
  //  margin-left: calc(#{$gap-cardSet} * (-1));
  //  margin-top: calc(#{$gap-cardSet} * (-1));
  //  align-items:stretch;
  }

  @include afterBreak (desk) {
    @include centering_content();
  }
}

.feature__card {
  @include beforeBreak (tab){
    @include centering_content('block');

    &:not(:first-child) {
      margin-bottom: $gap-cardSet;
    }
}

  @include betweenBreak (tab, desk) {
    
    @include flexBasis (2);
  }

  @include afterBreak (desk) {
    @include centering_content(block);

    &:not(:first-child) {
      margin-left: $gap-cardSet;
    }
  }
}

.feature__iconThumb {
  padding: 25px 100px;
  margin-bottom: $gap-cardSet;

  background-color: getColor('btn-bg-color');
  border-radius: 4px;
}

.feature__subtitle {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, 0.03em, uppercase);
  // font-weight: 700;
  // line-height: 1.14;
  // text-transform: uppercase;
  // letter-spacing: 0.03em;

  @include afterBreak (mob) {
    text-align: center;
  }

  @include afterBreak (tab) {
    text-align: left;
  }
}

.feature__content {
  @include font(400, 14px, 1.71, 0.03em);
  // line-height: 1.71;
  // letter-spacing: 0.03em;

  color: getColor('sec-color');
}
