/* Section Filters */
.portfolio__title {
  @extend %hidden;
}

.filter__list {
  //@include centering_content();
  
  // /* display: flex; */
  // justify-content: center;
  // align-items: flex-start;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  @extend .btn__filtering;

  color: getColor('pr-color');    
  background-color: getColor('btn-bg-color');

  @include font(500, 16px, 1.62, 0.03em);
  text-align: center;

  // @include transitionable(color); 
  // @include transitionable(background-color);
  // @include transitionable(box-shadow);
  transition: color 250ms $bezier-timing,
    background-color 250ms $bezier-timing,
    box-shadow 250ms $bezier-timing;

  &:hover,
  &:focus {
  color: getColor('inv-color');
  background-color: getColor('accent-color');
  box-shadow: $cardSet-shadow;

  // box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  //  0px 1px 2px rgba(0, 0, 0, 0.08),
  //   0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--current {
  @extend .btn__filtering;

  color: getColor('inv-color');
  background-color: getColor('accent-color');

  //@include transitionable(box-shadow);
  transition: box-shadow 250ms $bezier-timing;

  &:hover,
  &:focus {
  box-shadow: $cardSet-shadow;
  }
}


/* Section Projects */

.project__list {
  /* display: flex; */
  flex-wrap: wrap;
  margin-left: calc(#{$gap-cardSet} * (-1));
  margin-top: calc(#{$gap-cardSet} * (-1));
}

.project__card {
  flex-basis: calc(1px *(100% / 3) - #{$gap-cardSet});
  margin-left: $gap-cardSet;
  margin-top: $gap-cardSet; 
}

.project__link {
  display: block;

   //@include transitionable(box-shadow);
   transition: box-shadow 250ms $bezier-timing;

  &:hover,
  &:focus {
    box-shadow: $projectSet-shadow;    
      
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    // 0px 4px 4px rgba(0, 0, 0, 0.06),
    //   1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cardThumb {
  position: relative;
  overflow: hidden;
}

.cardThumb__overlay {
  display: inline-block;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  opacity: 0;
  transform: translateY(100%);

  // @include transitionable(opacity);
  // @include transitionable(background-color);
  // @include transitionable(transform);

  transition: transform 250ms $bezier-timing, 
  opacity 250ms $bezier-timing, 
  sbackground-color 250ms $bezier-timing;

  .project__link:hover &,
  .project__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardThumb__description {
  
  @include font(400, 18px, 1.56, 0.03em);
  // font-size: 18px;
  // line-height: 1.56;
  // letter-spacing: 0.03em;

  color: getColor('inv-color');
}

.project__content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__subtitle {
  margin-bottom: 4px;
  @include font(700, 18px, 2, 0.06em);

  // font-weight: 700;
  // font-size: 18px;
  // line-height: 2;
  // letter-spacing: 0.06em;
}

.project__filter {
  @include font(400, 16px, 1.88, 0.03em);

  // font-size: 16px;
  // line-height: 1.88;
  // letter-spacing: 0.03em;

  color: getColor('sec-color');
}
