/* Section Filters */

.portfolio__title {
  @extend %hidden;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;

  @include beforeBreak(mob) {
    margin-top: -15px;
  }

  @include afterBreak(tab) {
    @include centering_content();
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.filter__item {
  @include beforeBreak(mob) {
    margin-top: 15px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @include betweenBreak(mob, tab) {
    &:nth-child(2) {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }

  @include afterBreak(tab) {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.filter__btn {
  @extend .btn__filtering;

  color: getColor("pr-color");
  background-color: getColor("btn-bg-color");

  @include font(500, 16px, 1.62, 0.03em);
  text-align: center;

  transition: (color 250ms $bezier-timing),
    (background-color 250ms $bezier-timing), (box-shadow 250ms $bezier-timing);

  &:hover,
  &:focus {
    color: getColor("inv-color");
    background-color: getColor("accent-color");
    box-shadow: $cardSet-shadow;

    // box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    //  0px 1px 2px rgba(0, 0, 0, 0.08),
    //   0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--current {
  @extend .btn__filtering;

  color: getColor("inv-color");
  background-color: getColor("accent-color");

  transition: box-shadow 250ms $bezier-timing;

  &:hover,
  &:focus {
    box-shadow: $cardSet-shadow;
  }
}

/* Section Projects */

.project__list {
  @include beforeBreak(tab) {
    @include centering_content(block);
    margin-top: 40px;
  }

  @include betweenBreak(tab, desk) {
    @include centering_content();

    flex-wrap: wrap;

    @include thumb_flexBasis;
  }

  @include afterBreak(desk) {
    @include centering_content();
    flex-wrap: wrap;

    @include thumb_flexBasis;

    // display: flex;
    // flex-wrap: wrap;
    // margin-left: calc(#{$gap-cardSet} * (-1));
    // margin-top: calc(#{$gap-cardSet} * (-1));
  }
}

.project__card {
  @include beforeBreak(tab) {
    &:not(:last-child) {
      margin-bottom: $gap-cardSet;
    }
  }

  @include betweenBreak(tab, desk) {
    @include flexBasis(2);

    // flex-basis: calc(1px *(100% / 2) - #{$gap-cardSet});
    // margin-left: $gap-cardSet;
    // margin-top: $gap-cardSet;
  }

  @include afterBreak(desk) {
    @include flexBasis(3);
    // flex-basis: calc(1px *(100% / 3) - #{$gap-cardSet});
    // margin-left: $gap-cardSet;
    // margin-top: $gap-cardSet;
  }
}

.project__link {
  display: block;

  height: 100%;
  transition: box-shadow 250ms $bezier-timing;

  &:hover,
  &:focus {
    box-shadow: $projectSet-shadow;

    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    // 0px 4px 4px rgba(0, 0, 0, 0.06),
    //   1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cardThumb {
  position: relative;
  overflow: hidden;

  justify-content: center;
}

.cardThumb__overlay {
  display: inline-block;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  opacity: 0;
  transform: translateY(100%);

  transition: (opacity 250ms $bezier-timing),
    (background-color 250ms $bezier-timing), (transform 250ms $bezier-timing);

  .project__link:hover &,
  .project__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardThumb__description {
  @include font(400, 18px, 1.56, 0.03em);

  color: getColor("inv-color");
}

.project__content {
  display: flex;
  flex-direction: column;

  @include betweenBreak(tab, desk) {
    flex-grow: 1;
  }

  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__subtitle {
  margin-bottom: 4px;
  @include font(700, 18px, 2, 0.06em);
}

.project__filter {
  @include font(400, 16px, 1.88, 0.03em);

  // font-size: 16px;
  // line-height: 1.88;
  // letter-spacing: 0.03em;

  color: getColor("sec-color");
}
