/* Section Our Team */
.team {
  background-color: getColor('btn-bg-color');
}

.team__card {
  @include centering_content(block);
  background-color: getColor('pr-bg-color');

  box-shadow: $cardSet-shadow;
  // 0px 1px 3px rgba(0, 0, 0, 0.12), 
  //0px 1px 1px rgba(0, 0, 0, 0.14),
  // 0px 2px 1px rgba(0, 0, 0, 0.2)
  border-radius: 0px 0px 4px 4px;

  &:not(:first-child) {
    margin-left: $gap-cardSet;
  }
}

.team__member {
  padding: 30px 32px;

  text-align: center;
}

.team__subtitle {
  margin-bottom: 10px;

  @include font(500, 16px, 1.18, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.18;
  // letter-spacing: 0.03em;
  color: getColor('pr-color');
}

.team__content {
  margin-bottom: 16px;

  color: getColor('sec-color');

  @include font(400, 14px, 1.18, 0.03em);
  // font-size: 16px;
  // line-height: 1.18;
  // letter-spacing: 0.03em;
}

.social__card:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  //@include centering_content();
  // display: flex;
  // justify-content: center;
  // align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  //@include transitionable(background-color);
  transition: background-color 250ms $bezier-timing;

  &:hover,
  &:focus {
    background-color: getColor('accent-color');
  }
}

.social__icon {
  fill: getColor('pr-icon-fill');

  //@include transitionable(fill);
  transition: fill 250ms $bezier-timing;

  .social__link:hover &,
  .social__link:focus & {
    fill: getColor('inv-color');
  }
}