/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('sec-bg-color');
}

.footer__container {

  @include beforeBreak (tab) {
    @include centering_content ();
    flex-direction: column;
  }

  @include betweenBreak (tab, desk) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include afterBreak (desk) {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  }
  
}

.footer__link {
  margin-bottom: 20px;

  @include beforeBreak (tab) {
    display: block;
  }

  @include afterBreak (desk) {
    display: block;
  }
}

.footer__logo{
  @extend .logo;

  color: getColor('inv-color');
  
  &--accent {
    color: getColor('accent-color');
  }

  @include beforeBreak (desk) {
    display: block;
    text-align: center;
  }
}


