/* Footer SignUp form */

 .follow {
  @include beforeBreak (tab) {
    display: block;
    width: 100%;
    text-align: center;
  }

  @include betweenBreak (tab, desk) {
    display: block;
    margin-top: 60px;
    text-align: center;
  }
//   // width: 570px;
//   // margin-left: 93px;
 }

.follow__title {
  margin-bottom: 20px;

  @include font(700, 14px, 1.25, 0.03em, uppercase);
  // font-family: 'Roboto';
  // font-style: normal;
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 16px;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
  
  color: getColor('inv-color');
}

 .follow__field {

  @include betweenBreak (tab, desk) {
    display: block;
    justify-content: center;
    width: 450px;
  }
//   //display: flex;
//   //justify-content: flex-end;
}

.follow__input {
  @include beforeBreak (desk) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  // width: 358px;
  padding: 14px 16px;

  font-family: inherit;
  @include font(400, 16px, 1.25, 0.03em);

  // font-size: 16px;
  // line-height: 1.25;
  // letter-spacing: 0.03em;
  color: getColor('inv-color');
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border 250ms $bezier-timing;
  
  .follow__field:focus &,
  .follow__field:hover & {
    border: 1px solid getColor('accent-color');
  }

  &::placeholder {
    @include font(400, 16px, 1.25, 0.03em);
  
    // font-size: 16px;
    // line-height: 1.25;
    // letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.follow__btn {
  @extend .btn;

  display: inline-flex;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
}

.follow__icon {
  display: block;
  margin-left: 10px;
}
