body {
  font-family: $pr-font;
  color: getColor("pr-color");

  &.no-scroll {
    overflow-y: hidden;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include afterBreak(desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @include afterBreak(mob) {
    max-width: 480px;
  }

  @include afterBreak(tab) {
    max-width: 768px;
  }

  @include afterBreak(desk) {
    max-width: 1200px;
  }
}

.title {
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  font-family: inherit;
  @include font(700, 36px, 1.17, 0.03em);
}

.social__link {
  @include centering_content();

  width: 44px;
  height: 44px;
  border-radius: 50%;
}
