h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: none;
}

input,
textarea,
button {
  outline: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
