/* Page-header style */

.header {
  border-bottom: 1px solid#ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  border: none;
}

.header__logo {
  @extend .logo;
}

.header__logo--accent {
  color: getColor('accent-color');
}