 //Function Transition
 @mixin transitionable($property...) {
  @for  $i from 0 to length($property) {
      transition: nth($property, $i + 1)  250ms $bezier-timing;
  }
}




// Mixin FontValue
@mixin font($fw, $fs, $lh, $ls, $tt: false) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $tt;
}

// Mixin Centering Content
@mixin centering_content($mode: flex) {
  display: $mode;
  align-items: center;
  justify-content: center;
}

// Mixin Сalculating container width for flex item 
// $gap-cardSet - standard clearance between template elements


@mixin thumb_flexBasis {
  margin-left: calc(#{$gap-cardSet} * (-1));
  margin-top: calc(#{$gap-cardSet} * (-1));
  align-items:stretch;
}

@mixin flexBasis ($amount_flexs) {
  flex-basis: calc((100% - (#{$gap-cardSet} * #{$amount_flexs})) / #{$amount_flexs});
  margin-left: $gap-cardSet;
  margin-top: $gap-cardSet;
}

